{% extends "base.html" %}
{% block head %} {% endblock %}

{% block content %}
<div class="container justify-content-center">
    <div id="poteminfoTB">
        <div class="search" style="display: none;">
            <form class="search-form">
                <div class="row g-2">
                </div>
            </form>
            <button type="button" class="btn-sm btn-primary search-btn">search</button>
            <button type="button" class="btn-sm btn-info reset-btn">reset</button>
        </div>
        <table class="table table-striped table-sm">
            <thead></thead>
            <tbody></tbody>
        </table>
        <nav class="pager" aria-label="Page navigation" style="display: none">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link">total <span class="total-items"></span>
                        items</a></li>
                <li class="page-item">
                    <a class="page-link pre-page" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="page-item">
                    <input class="form-control page-num" type="text" style="width: 65px; text-align: center;" value="1">
                </li>
                <li class="page-item"><a class="page-link" href="#">/ <span class="total-page">100</span></a></li>
                <li class="page-item"><a class="page-link goto-page" href="#">Go</a></li>
                <li class="page-item">
                    <a class="page-link next-page" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                    </a>
                </li>
                <input type="hidden" class="params" />
            </ul>
        </nav>
    </div>

    <div id="editModal" class="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="editForm">
                        <form class="edit-form"></form>
                        <div class="hidden-field"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="message alert" role="alert"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-form">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="detailModal" class="modal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="detailTable">
                        <div class="search" style="display: none;">
                            <form class="search-form">
                            </form>
                            <button type="button" class="btn btn-primary search-btn">search</button>
                            <button type="button" class="btn-sm btn-info reset-btn">reset</button>
                        </div>
                        <table class="table table-striped table-sm">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                        <nav class="pager" aria-label="Page navigation" style="display: none">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link">total <span class="total-items"></span>
                                        items</a></li>
                                <li class="page-item">
                                    <a class="page-link pre-page" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"></span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <input class="form-control page-num" type="text"
                                        style="width: 65px; text-align: center;" value="1">
                                </li>
                                <li class="page-item"><a class="page-link" href="#">/ <span
                                            class="total-page">100</span></a></li>
                                <li class="page-item"><a class="page-link goto-page" href="#">Go</a></li>
                                <li class="page-item">
                                    <a class="page-link next-page" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only"></span>
                                    </a>
                                </li>
                                <input type="hidden" class="params" />
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="detailForm">
                        <form class="row">
                            <div class="col-auto">
                                <textarea name="content" placeholder="content" class="form-control content"
                                    rows="3"></textarea>
                            </div>
                            <div class="col-auto">
                                <div class="alert" role="alert"></div>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save-form">Add new detail</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" charset="utf8" src="../static/dt.js"></script>
<script>
    class poiteminfoTB extends TB {
        constructor(settings) {
            super(settings)
            this.bindRowBtnEvent()
        }
        bindRowBtnEvent() {
            var parent = this
            var efm = this.editFormModal
            this.table.on('click', '.more', function () {
                var poitem_id = $(this).closest('tr').find("input._poitemid").val()
                var ponum = $(this).closest('tr').find("td.ponum").text()
                var description = $(this).closest('tr').find("td.description").text()
                var poiteminfoid = $(this).closest('tr').find("input.id").val()
                efm.showEditFormModal({
                    poitemid: poitem_id,
                }, `${ponum} ${description}`)
            })
            var dlm = this.detailListModal
            this.table.on('click', '.details', function () {
                var poitem_id = $(this).closest('tr').find("input._poitemid").val()
                var poiteminfoid = $(this).closest('tr').find("input.id").val()
                dlm.showDetailFormModal({
                    poitemid: poitem_id,
                    poiteminfoid: poiteminfoid
                }, poitem_id)
            })
        }
    }

    $(function () {
        var poteminfoTB = new poiteminfoTB({
            id: "poteminfoTB",
            url: "/get_poitem_info",
            extra_col_elems: [{ "tagName": "button", "classname": "more", "text": "more" }, { "tagName": "button", "classname": "details", "text": "details" }],
            visible: ["ponum", "description", "vendorpartnum", "qtytofulfill", "etd", "eta"],
            hidden: ["_poitemid", "id"],
            searchable: ["ponum", "vendorpartnum", "description", "etd_start", "etd_end", "eta_start", "eta_end"],
            searchable_type: {
                "etd_start": "date",
                "etd_end": "date",
                "eta_start": "date",
                "eta_end": "date"
            },
            editFormModal: new EditFormModal(
                {
                    id: "editModal",
                },
                {
                    id: "editForm",
                    url_get: "/get_poitem_info",
                    url_update: "/update_poitem_info",
                    visible: ['transport', 'priceBeforeNeg', 'priceAfterNeg', 'etd', 'eta', 'coaReq', 'coaCheck', 'labelCheck', 'shippingDoc', 'arrivalNotice', 'Customer', 'mfgBatch', 'nuraBatch', 'shipperQualified', 'qualificationNote', 'qcRelease', 'needNuraCoa', 'mfg', 'lotNuraCoa'],
                    visible_col_type: {
                        'etd': 'date',
                        'eta': 'date',
                        'lotNuraCoa': 'lotNuraCoaSelect',
                        'transport': 'transportSelect'
                    },
                    customHtmlForInput: {
                        "lotNuraCoaSelect": `<select class="form-control" id="m_{}" name="{}">
                                                <option value=""></option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                             </select>`,
                        "transportSelect": `<select class="form-control" id="m_{}" name="{}">
                                        <option value=""></option>
                                        <option value="Oversea/Sea">Oversea/Sea</option>
                                        <option value="Oversea/Air">Oversea/Air</option>
                                        <option value="Domestic">Domestic</option>
                                        <option value="Vendor clear customs">Vendor clear customs</option>
                                      </select>`
                    },
                    params: {}
                }),
            detailListModal: new DetailListModal(
                {
                    id: "detailModal",
                },
                {
                    id: "detailTable",
                    url: "/get_po_item_info_details",
                    visible: ["content", "username", "created"],
                    hidden: ["id"],
                    limit: 5,
                    refresh_when_created: false
                },
                {
                    id: "detailForm",
                    url: "/add_poiteminfo_detail",
                })
        })
        poteminfoTB.editFormModal.parent = poteminfoTB
        poteminfoTB.detailListModal.parent = poteminfoTB
    })
</script>
{% endblock %}